
html,body{
	margin: 0;
	padding: 0;
	margin-top: -21px;
	background-size: cover;
	background-attachment: fixed;
}
/*Header and Background*/
.global-bg{
	position: fixed;
	z-index: -10;
	width: 100%;
	height: 100%;
	background-size: cover;
	top:0;
}
.site-meta{
	height: 80vh;
	text-align: center;
	position: relative;
  background-size: cover;
	background-attachment: fixed;
}
.bg-blur{
	height: 100%;
	position: absolute;
	background-size: cover;
	background-attachment: fixed;
	-webkit-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=false);
	width: 100%;
}
.site-name{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
a#logo{
	text-decoration: none;
  color: #FEF9F4;
	font-size: 2em;
}
.description{
	color: #FFD3CE;
	font-size: 1.2em;
}
.title-line{
	border-top:azure solid 1px;
	width:10vw;
	margin: 0 auto;
}
/*body*/
.body-wrapper{
	box-shadow: 0px -2px 20px -2px black;
	position: relative;
}
.bg-body{
	z-index: -9;
}
.layer-opti{
	transform:translateZ(0);
	-webkit-transform:translateZ(0);
	-o-transform:translateZ(0);
}
.bg-color{
	z-index: -9;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(240, 255, 255, 0.4);
}
.body-container{
	width: 80%;
	background-color: white;
	margin: 0 auto;
	padding:20px;
}
